@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:400px;background: url('../../Images/500.jpg');background-position:center;   ">
    <h1>Rock'n Roll</h1>
    <p class="lead">asdf</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" >
        <h2>Getting started</h2>

        <img src="~/Images/rocklogo.jpg" width="300" height="250"/>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">RockN Roll &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <img src="~/Images/rblogo.gif" width="300" height="250">
       
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">R & B &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>


        <img src="~/Images/LlandeiloJazzLogo.jpg" width="300" height="250" />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867"> J A Z Z &raquo;</a></p>
    </div>
</div>




<blockquote>
    <p>Without music, life would be a mistake.</p>
    <small> Friedrich Nietzsche</small>
</blockquote>


<blockquote>
    <p>When you'r happy you enjoy the music 
    when you'r sad you understand the lyrics </p>
    <small> Friedrich Nietzsche</small>
</blockquote>