
@{
    ViewBag.Title = "Dinle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dinle</h2>
<table class="table table-striped table-hover " style="margin-top:7px;">
    <thead>
        <tr>
            <th></th>
            <th>Sanatçı</th>
            <th>Sarkı Adı</th>
            <th>Sarki Süresi </th>
            <th>Dinle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Sonata Arctica</td>
            <td>Shy</td>
            <td>4.15</td>
            <td>
                <audio controls="controls">
                    <source src="~/Musics/Sonata%20Arctica%20-%20Shy.mp3" type="audio/mpeg" />
                </audio>
               

            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>NightWish</td>
            <td>While your Lips Still Red</td>
            <td>4.26</td>
            <td>
                <audio controls="controls">
                    <source src="~/Musics/Nightwish%20-%20While%20Your%20Lips%20Are%20Still%20Red%20[HD%20-%20Lyrics].mp3" type="audio/mpeg" />
                </audio>

            </td>
        </tr>
        <tr class="info">
            <td>3</td>
            <td>Evenence</td>
            <td>My Immortal</td>
            <td>4.33</td>
            <td>
                <audio controls="controls">
                    <source src="~/Musics/Evanescence%20-%20My%20Immortal.mp3" type="audio/mpeg" />
                </audio>
            </td>
        </tr>
        <tr class="success">
            <td>4</td>
            <td>Slash</td>
            <td>Slash - "Gotten"</td>
            <td>9.32</td>
            <td>
                <audio controls="controls">
                    <source src="~/Musics/Slash%20-%20Gotten.mp3" type="audio/mpeg" />
                </audio>
            </td>
        </tr>
        <tr class="danger">
            <td>5</td>
            <td>Slash</td>
            <td>By the Sword</td>
            <td>4.54</td>
            <td>
                <audio controls="controls">
                    <source src="~/Musics/Slash%20-%20By%20The%20Sword%20(feat.%20Andrew%20Stockdale).mp3" type="audio/mpeg" />
                </audio>
            </td>
        </tr>
        <tr class="warning">
            <td>6</td>
            <td>Deniz Seki</td>
            <td>Iyisin Tabi</td>
            <td>4.35</td>
            <td>
                <audio controls="controls">
                    <source src="~/Musics/Deniz%20Seki%20-%20%c4%b0yisin%20Tabi.mp3" type="audio/mpeg" />
                </audio>

            </td>
        </tr>
        <tr class="active">
            <td>7</td>
            <td>Guns N' Roses</td>
            <td>Patience</td>

            <td>6.06</td>
            <td>
                <audio controls="controls">
                    <source src="~/Musics/Guns%20N'%20Roses%20-%20Patience.mp3" type="audio/mpeg" />
                </audio>
            </td>
        </tr>
    </tbody>
</table>


